@import "home";
@import "variables";

$section-bkgd-color: gray;
$hover-color: green;
$accent-color: red;

@mixin main-background ($padding: 20px, $font-size: 20px){
  padding: $padding;
  text-align: center;
  font-size: $font-size;
}

header {
  @include main-background($font-size: 30px)
}

footer {
  @include main-background($font-size: 10px)
}

section {
  background-color: $section-bkgd-color;

  h1 {
    font-size: 60px;

    &:hover {
      color: $hover-color;
    }
  }

  p {
    font-style: italic;

    span {
      color: $accent-color;
    }
  }
}